/*
 * Post menu
 */

.post-menu {
  padding-right: 0px;
  min-width: 200px;
  max-width: 230px;

  .post-menu-title {
    font-size: $base-font-size * 1.5;
    margin-bottom: 14px;
    font-weight: 600;
    color: #222;
    font-family: 'Amiri';
  }

  .post-menu-content {
    font-family: 'Droid Arabic Naskh';

    ul {
      border-right: 3px solid #5b9ddf;
      $indent: $base-font-size / 4;
      $active-bgcolor: #ecebec;
      display: flex;
      flex-direction: column;
      gap: 7px;

      @for $i from 2 to 7 {
        .h-h#{$i} {
          padding-inline-start: $indent + ($i - 2) * $base-font-size * 1.3;
          font-size: $base-font-size * 1.1;
          line-height: 1.4;
        }
      }

      a {
        display: flex;
        padding: 2px 8px;
        color: darken($text-color, 10%);

        * {
          pointer-events: none;
        }

        &:hover {
          text-decoration: none;
          color: lighten($text-color, 20%) !important;
        }
      }

      .active {
        background-color: $active-bgcolor;
        transition: background 0.5s;
        border-right: 2px solid #202020;
        margin-right: -2px;

        &:hover {
          background-color: lighten($active-bgcolor, 2%);
        }

        a {
          color: #121416;
        }
      }
    }
  }
}