{%- if page.paginator -%}
  {%- assign paginator = page.paginator -%}
{%- elsif paginator == nil -%}
  {%- assign paginator = site -%}
{%- endif -%}

{%- if paginator.posts.size > 0 -%}
<div class="pagination">
  <!-- Post list links -->
  <ul class="post-list">
    {%- for post in paginator.posts -%}
    <li>
      {%- assign date_format = site.yat.date_format | default: "%b %-d, %Y" -%}

      {% assign article = post.content %}
      {% assign lang = post.lang %}
      {%- include functions.html func='get_reading_time' -%}
      {% assign reading_time = return %}
      {%- include functions.html func='get_article_excerpt' -%}
      {% assign excerpt = return %}
      {%- assign post_url = post.url | relative_url -%}

      <h2 class="post-title">
        <a class="post-link" href="{{ post_url }}">
          {{ post.title | escape }}
        </a>
      </h2>
      <div class="post-meta">
        <span class="post-date"style="font-family:'Droid Arabic Kufi';"><i class="fa-solid fa-calendar-days"></i> {{ post.date | date: date_format }}</span>
        <span class="left-vsplit" style="font-family:'Droid Arabic Kufi';"><i class="fa-solid fa-feather-pointed"></i> {{ heading | default: post.author | escape }}</span>
      </div>
      <a class="post-excerpt" style="font-family:'Droid Arabic Kufi';" href="{{ post_url }}">
        <p>
        {{ excerpt }}
        </p>
      </a>
    </li>
    {%- endfor -%}
  </ul>

  <!-- Pagination links -->
  {%- if paginator.posts.size < site.posts.size -%}
    {%- include views/paginator.html -%}
  {%- endif -%}
</div>
{%- endif -%}
