<header class="post-header" dir="rtl">
  <h1 class="post-title p-name" itemprop="name headline">{{ heading | default: page.title | escape }}</h1>
  <h2 class="post-subtitle">{{ subheading | default: page.subtitle | escape }}</h2>

  <p class="post-meta">
    <i class="fa-solid fa-calendar-days"></i>
    <time id="date-published" class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" style="font-family:'Droid Arabic Kufi'; font-size:16px ;font-weight: bold;">
      {%- assign date_format = site.yat.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>

    {% assign article = page.content %}
    {% assign lang = page.lang %}
    {%- include functions.html func='get_reading_time' -%}
    {% assign reading_time = return %}
    <span class="left-vsplit" style="font-family:'Droid Arabic Kufi'; font-size:16px; font-weight: bold;"><i class="fa-solid fa-feather-pointed"></i> {{ heading | default: page.author | escape }}</span>
  </p>

</header>

<script type="text/javascript">
  element = document.getElementById("date-published");
  replaceDate(element)
</script>