{%- if include.keys -%}
{%- assign keys = include.keys -%}
{%- endif -%}

{%- if include.field -%}
{%- assign field = include.field -%}
{%- endif -%}


<div class="common-list" style="font-family:'Droid Arabic Kufi';">  
  <ul>
    <li>
      <a href="{{ '/index.html' | relative_url }}">
        كل الموضوعات <span id="date_span">{{ site.posts.size }}</span>
      </a>
    </li>

    {% for key in keys %}
    <li>
      <a href="{{ url }}#h-{{ key }}">
        {{ key }} <span id="date_span">{{ site.posts | where: field, key | size }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>